.header{    
    height: 100%;
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2671ae, #1488CC);
    background: linear-gradient(to right, #2671ae, #1488CC); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.5em;
    font-weight: 700;
    color: #EEEEEE;
}